

:root {
    --backgroundColor: #F2F2F2;
    --navigationText: #F4FAF7;
    --titleColor: #F4FFFB;
    --footerColor: #81D0E8;
    --headerColor: #71A1D1;
    --buttonColor: grey;
    --boxShadow: grey;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
    font-family:;
    background-color: var(--backgroundColor);
}

h1 {
    background-color: var(--headerColor);
    color: var(--titleColor);
    font-size: 40;
    padding: 20px;
}