@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


:root {
    --backgroundColor: #F2F2F2;
    --navigationText: #F4FAF7;
    --titleColor: #F4FFFB;
    --footerColor: #81D0E8;
    --headerColor: #71A1D1;
    --buttonColor: grey;
    --boxShadow: grey;
}

* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    justify-content: start;
    background-color: var(--headerColor);
    color: var(--titleColor);
    font-size: 48px;
    padding: 20px;
}

label {
    font-size: 28px;
}

input {
    margin-right: 0px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px var(--boxShadow);
}

button {
    margin-left: 0px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px var(--boxShadow);
    cursor: pointer;
}

#search-container {
    display: block;
    position: fixed;
    float: left;
    padding: 20px 40px 500px;
    border: solid 2px black;
    background-color:aliceblue;
    box-shadow: 10px 10px 5px var(--boxShadow);
}

#current-weather-container {
    display: block;
    float: right;
    padding-right: 200px;
    border: solid 2px black;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 24px;
    padding: 20px;
    background-color: var(--headerColor);
    color: var(--titleColor);
}